@{
    ViewBag.Title = "Home Page";
}

<div id="body-container">
    <div class="jumbotron">
        <h2>Znajdź najlepszego freelancera już dziś. </h2>
        <p class="lead">Bądź jedną z pierwszych osób, które skorzystają z najnowszego serwisu dla freelancerów.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Zatrudniaj</h2>
            <p>
                Szukasz wykonawcy dla swojego zlecenia? Sprawdź w zakładce Zatrudnij -> Przeglądaj ogłoszenia.
                Być może freelancer tylko czeka na ofertę od Ciebie. Jeśli nie uda Ci się znaleźć odpowiedniego freelancera
            </p>
            <p>@Html.ActionLink("Opublikuj zlecenie", "Add", "Jobs", null, new {@class="btn btn-default round"})</p>
        </div>
        <div class="col-md-4">
            <h2>Pracuj</h2>
            <p>
                Uważasz, że dzięki swoim zdolnościom możesz pomóc innym użytkownikom przy okazji zarabiając pieniądze?
                Znajdź pracodawców w zakładce Znajdź pracę -> Przeglądaj zlecenia. Jeśli obecnie nie ma tam zlecenia odpowiedniego dla Ciebie, to
            </p>
            <p>@Html.ActionLink("Dodaj ogłoszenie", "Add", "Announcements", null, new {@class="btn btn-default round"})</p>
        </div>
        <div class="col-md-4">
            <h2>Oceniaj</h2>
            <p>Jeśli właśnie zakończyłeś współpracę z innym użytkownikiem, to poświęć chwilę na jego ocenę.
                Poleć go, jeśli uważasz, że dobrze Wasza współpraca przebiegła pomyślnie.
                W przeciwnym razie ostrzeż przed nim innych użytkowników.
            </p>
        </div>
    </div>
</div>