@* <div class="row"> *@
@*     <div class="col-sm-8 pull-right"> *@
@*         <input id="search" type="search" class="form-control inline"/> *@
@*         <select id="search-dropdown inline"> *@
@*             <option value="1">halo</option> *@
@*             <option value="2">halo1231</option> *@
@*             <option value="3">halodsajeiwqe</option> *@
@*         </select> *@
@*         <button id="search-button" class="btn btn-default inline">Wyszukaj</button> *@
@*     </div> *@
@* </div> *@