body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
    font-size: 16px;
}

label {
    padding-left: 3px;
}

select {
    width: 150px;
    height: 34px;
    border-radius: 4px;
}

a {
    color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: none;
    margin: 0em;
    height: 1px;
    color: #cccccc; 
    background-color: #cccccc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgray;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input[type='number'] {
    -moz-appearance:textfield;
}
input[type='checkbox'] {
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="text"]:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}


.white-hover > li > a:hover, .white-hover > li > a:focus{
    color: #3d87ff !important;
    background-color: white !important;
}

.center {
    text-align: center;
}

.blue-strip {
    background-color: teal;
    min-height: 76px;
}

.spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
}

.menu {
    border-radius: 2px;
}

div.item:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.details {
    text-align: center;
}

.white-background {
    background-color: white;
}

#sorting {
    margin: 0 auto;
}

#page-number {
    width: 50px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    border: 2px solid grey;
    text-align: center;
}

.rating {
    display: block;
    text-align: center;
    font-size: 20px;
}

.fa-star, .fa-star-half {
    color: orange;
}

.hide {
    display: none;
}

.preview {
    max-width: 120px;
    max-height: 80px;
    display: inline-block;
}

.login-form {
    background-color: white;
    width: auto;
    border-radius: 5px;
}

.round {
    border-radius: 54px;
}

section > h2 {
    text-align: center;
}

.google{
    background-color: #ff0000;
    width: 44px;
    color: white;
    border: none;
}

.facebook{
    background-color: #3b5998;
    color: white;
    width: 44px;
    border: none;
}

.facebook:focus, .google:focus {
    outline: none;
}

.user-content {
    white-space: pre-line;
    text-align: left;
}

.hidden {
    visibility: hidden;
}

.input-short {
    max-width: 280px;
}

.user {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.second-part {
    display: none;
}

#footer {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: white;
}

.navbar-pad {
    padding-left: 25px !important;
}

/* Bootstrap */
.navbar {
    background-color: white !important;
}

.navbar-brand {
    padding: 0px !important;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.dropdown > ul > li > a {
    margin: 11px;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:focus {
    background-color: white;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: white;
    color: #3d87ff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: white;
}

.icon-bar {
    background-color: #3d87ff;
}

.navbar-collapse {
    background-color: white;
}


@media(max-width: 767px) {
    .no-hover { display: none !important; }
    #header {
        align-items: center;
        justify-content: center;
    }

    .user {
        padding: 0px;
    }

    .modal-fullscreen-xs-down {
        padding: 0 !important;
    }
    .modal-fullscreen-xs-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-xs-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
    } 
}

@media (max-width: 991px) {
    .modal-fullscreen-sm-down {
        padding: 0 !important;
    }
    .modal-fullscreen-sm-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-sm-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
    }
}

@media (max-width: 1199px) {
    .modal-fullscreen-md-down {
        padding: 0 !important;
    }
    .modal-fullscreen-md-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-md-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
    }
}
